# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.vscode/launch.json
package-lock.json

# Data files
/server/prompt-history.json